<section>
  
    <h1>All Survey Results</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street Address, City, State, Zip</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Date of Survey</th>
            <th>What did you like the most about the campus?</th>
            <th>How did you become interested in the university?</th>
            <th>How would you likely recommend us to other prospective students?</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let row of surveyList">
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.streetAddress}} {{row.city}} {{row.state}} {{row.zip}}</td>
            <td>{{row.phoneNumber}}</td>
            <td>{{row.email}}</td>
            <td>{{row.dateOfSurvey}}</td>
            <td>{{row.mostLiked}}</td>
            <td>{{row.interest}}</td>
            <td>{{row.recommend}}</td>
          </tr> -->
          
        </tbody>
      </table>
    </div>
  </section>
  
  
  <div class="survey-list" >
    <a href="http://kk-hw1.s3-website.us-east-2.amazonaws.com/">Home</a> |
    <a href="http://34.74.117.226:8080/HW2/">Survey Form</a>
  </div>