<header>
  <div id="nav">
    <ul>
      <li><a href="#home" class="scroller" data-offset="-140">Home</a></li>
      <li><a href="#swe645" class="scroller" data-offset="-139">SWE 645</a></li>
    </ul>
  </div>
  </header>
  
  <div class="content">
    
    <div class="page" id="page1">
      <a class="anchor" id="home"></a>
        <div class="title ttl1">Home</div>
        
        <p><strong>Hello, this is Khadija Kobra.</strong> Welcome to my page! I am doing Master's in Computer Science Program at GMU.</p>
        <p>Currently, I am working full-time at National Science Foundation (NSF) as a Programmer Analyst.
        When I am not studying/ working, I binge watch series and movies, I like to eat out at different restaurants, explore different cuisines and cook different dishes as well.</p>
        
    </div>
  
    <div class="page-divider pgd1"></div>
      
    <div class="page" id="page2">
      <a class="anchor" id="swe645"></a>
        <div class="title">SWE 645</div>
        <p>This Fall 2020, I am taking SWE 645. </p>
        <p>The first part of the first assignment is to create a <a href="index.html">home page</a> using a simple HTML file and an <a href="error.html">error page</a>.</p>
        <p>The template for both the pages was taken from <a href="https://codepen.io/"> codepen.io</a> and later modified according to my requirements.
        This page contains a photo I captured of Niagara Falls several years back.</p>
        <p>I am using AWS Simple Storage Service (AWS S3) to store this home page and error page. This home page will be used to provide links to my future homework submissions. 
        </p> 
        <p> The second part of the assignment requires me to create a survey form for GMU campus visit, which can be found <a href="http://34.74.117.226:8080/HW2/"> here.</a>
        </p> 
        <p> List of All Surveys can be found <a href="http://34.74.117.226:8080/HW2/list.html"> here.</a>
        </p>
  
    </div>
  
  </div>
  
  <button (click) = "survey_on()"> Survey</button>
  <button (click) = "survey_list_on()">Survey List</button>
  
  <div *ngIf="flag==1">
    <app-survey></app-survey>
  </div>
  
  <div *ngIf="flag==2">
    <app-survey-list></app-survey-list>
  </div>
  
  
  <footer>
    <p>Khadija Kobra</p> 
    <p>G01120432</p>
    <p>kkobra@gmu.edu</p>
  </footer>